.navbarContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  transform: translateY(-100px);
  animation: NavbarFadeIn 2s ease-in-out forwards 2000ms;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.logoContainer img {
  height: 100px;
  width: 150px;
}

.logoContainer img {
  height: 100%;
  width: 100%;
}

.navbarSection {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.hamburgerMenu {
  margin-top: 24px;
  margin-right: 28px;
  height: 30px;
  width: 30px;
}

.burgerButton {
  display: none;
}

@keyframes NavbarFadeIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

.navbarSection2 {
  display: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  flex-direction: column;
  position: absolute;
  background-color: white;
  color: black;
  top: 48px;
  right: 0;
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .navbarSection {
    display: none;
  }

  .navbarSection2.show {
    margin-top: 20px;
    display: flex;
    color: black;
  }

  .navbarContainer {
    margin-top: 10px;
    padding: 10px;
    padding-right: 40px;
  }

  .burgerButton {
    display: block;
    cursor: pointer;
  }

  .logoContainer img {
    height: 70px;
    width: 120px;
  }
  .container {
    /* background-color: rebeccapurple; */
  }

  .navbar * {
    font-size: 12px;
    gap: 10px;
  }
}
